@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Personas</h2>

@if (Model != null)
{
    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Personas[0]._id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personas[0].Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personas[0].Apellido1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personas[0].Apellido2)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var persona in Model.Personas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => persona._id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => persona.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => persona.Apellido1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => persona.Apellido2)
                        </td>
                        <td style="display: flex;">
                            <form asp-action="AnadirAncestros" asp-route-id="@persona._id" method="get" style="margin-right: 5px;">
                                <button type="submit" class="btn btn-primary">Añadir Ancestros</button>
                            </form>
                            <form asp-action="Details" asp-route-id="@persona._id" method="get" style="margin-right: 5px;">
                                <button type="submit" class="btn btn-info">Detalles</button>
                            </form>
                            <form asp-action="Delete" asp-route-id="@persona._id" method="post">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        No tienes registrada a ninguna persona. <a asp-action="AnadirPrimeraPersona" asp-controller="User">Agrega tu primera persona</a>
    </div>
}
